<div class="row">
  <div class="col">
    <ol class="list-group">
      <li *ngFor="let todo of todos"  class="list-group-item">
        {{todo.name}} : {{todo.content}} <i (click)="deleteTodo(todo)" class="bi bi-trash3"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name:<input [(ngModel)]="todo.name"  type="text" class="form-control">
    content<input [(ngModel)]="todo.content"  type="text" class="form-control">
    <button
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      (click)="addTodo()"
      class="btn btn-primary m-2">
      add todo
    </button>
  </div>
</div>
<app-cv/>
