.ampoule  {
  width: 150px;
  height: 150px;
  padding: 50px;
  border-radius: 50%;
  border: black solid 2px;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
  color: white;
}
